body {

background-color: #CCCCFF;

font-family: Yu gothic;

text-align: center;

}

h1 {

color: white;
font-size: 30px;


}

h2 {

color: #6633CC;

font-size: 50px;

}


p {

color: #6633CC;

font-size: 20px;

}

p1{

color: #6633CC;

font-size: 25px;

}


p2 {

color: white;

font-size: 20px;

}



img {

border-radius: 10px;

}



table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%;               
  font-size: 18px;          
  border: 4px solid #6633CC;  
}

td {
  padding: 12px;            
  text-align: center;       
  border: 2px solid #6633CC;  
  background-color: white;
}

a {
  color: #9900FF;        
  font-size: 20px;
}
